// Aliases for various lost properties
align()
  lost-align arguments

center()
  lost-center arguments

column()
  lost-column arguments

flex-container()
  lost-flex-container arguments

masonry-column()
  lost-masonry-column arguments

masonry-wrap()
  lost-masonry-wrap arguments

move()
  lost-move arguments

offset()
  lost-offset arguments

row()
  lost-row arguments

waffle()
  lost-waffle arguments

// Utility mixins
edit()
  lost-utility: edit

clearfix()
  lost-utility: clearfix
